/* Стили для мобильной версии */
@media (max-width: 1140px) {
    .main_menu {
        display: none; /* Скрыть навигацию по умолчанию */
        width: 100%;
        background-color: #fff; /* Цвет фона меню */
        position: absolute;
        padding: 10px 0;
        top: 67px; /* Позиция меню под хедером */
        left: 0;
        z-index: 10;
        transform: translatey(-1000px); /* Начальное смещение */
        transition: opacity 0.7s ease, transform 0.7s ease; /* Плавный переход */
        
    }

    .header_wrap{
        padding: 15px 0;
    }

    .main_menu ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .main_menu ul li{
        width: 100%;
        text-align: center;
    }

    .header .main_menu ul a{
        padding: 10px 0;
        border-bottom: none;
        margin-bottom: 0;
        transition: all ease .3s;
        width: 100%;
        color: #000;
    }
    
    
    .header .main_menu ul a:hover{
        color: #d4d8ff;
        margin-bottom: 0;
        border-bottom: none;
    }

    .main_menu.active {
        display: block; /* Показать меню при активации */
        opacity: 1; /* Полная непрозрачность */
        transform: translateX(0); /* Возвращаем в исходное положение */
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .burger {
        display: flex; /* Показать бургер-меню на мобильных устройствах */
    }

    
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .section_education_body_list table table, 
    .section_education_body_list table thead, 
    .section_education_body_list table tbody, 
    .section_education_body_list table th, 
    .section_education_body_list table td, 
    .section_education_body_list table tr {
        display: block;
    }

    .section_education_body_list table thead tr {
        display: none;
    }

    .section_education_body_list table tr {
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

    .section_education_body_list table td {
        text-align: left;
    }

    .section_education_body_list table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
  
}

@media (max-width: 425px) {
    .section_slider_title h1{
        font-size: 25px;
    }
}

@media (max-width: 375px) {
    .section_slider_title h1{
        font-size: 20px;
    }
}