*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
    line-height: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}


:root {
    /* --color-theme-dark: #111111; 
    --color-theme-light: #f3f3f3;
    --color-accent: #FFB400;
    --color-accent-hover: #e09d00;
    --color-text-desc: #4E4E4E;
    --color-text: #2A211F;
    --color-btn-text: #fff; */
}


.container {
    width: 100%;
    padding: 0 20px;
    max-width: 1160px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

}

section{
    padding: 100px 0;
}

body a{
    color: #000;
}

/* 
=============================================================
HEADER
=============================================================
*/

.header{
    background-color: #4C529D;
    border-bottom: 4px solid #7d81bb;
}

.header_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    color: #fff;
    line-height: 20px;
}

.header .main_menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-weight: 700;
}


.header .main_menu ul a{
    display: block;
    color: #fff;
    padding: 20px 15px;
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
    transition: all ease .3s;
}


.header .main_menu ul a:hover{
    color: #d4d8ff;
    margin-bottom: -4px;
    border-bottom: 4px solid #fff;
}

.section_slider{
    background: rgb(76,82,144);
    background: linear-gradient(180deg, rgba(76,82,144,1) 0%, rgba(76,82,157,1) 0%, rgba(129,154,204,1) 100%);
}

.section_slider_wrap{
    height: 450px;
    width: 100%;
    margin-bottom: 20px;
}

.section_slider_wrap .slick-track, .section_slider_wrap .slick-list{
    height: 100%;
}

.section_slider_wrap .slick-list{
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
}

.section_slider_wrap img{
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_slider_body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_slider_body_item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
}


/* 
=============================================================
SECTION ABOUT
=============================================================
*/


.section_about_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_about_header, .section_about_body{
    flex: 1;
}

.section_about_header_title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section_title, .section_desc{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_desc{
    font-size: 20px;
}

.section_about_body{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* max-height: 650px; */
    /* overflow-y: scroll; */
}

.section_about_body p{
    margin-bottom: 20px;
}

.header_body_img{
    width: 100%;
    display: flex;
}

.header_body_img:nth-child(2n){
    justify-content: end;
}

.header_body_img img{
    width: 300px;
    border-radius: 20px;
    display: block;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    
}

.section_about_header_body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}


.life_tabs_container{
    overflow: hidden;
}

.life_tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tab-button {
    flex: 1;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    background-color: #fff;
}

.tab-button:hover {
}

.tab-button.active {
    background-color: #4C529D;
    color: #fff;
}

.tab-content {
    padding: 20px 0;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


.section_life{
    background: rgb(76,82,144);
background: linear-gradient(130deg, rgba(76,82,144,1) 0%, rgba(238,242,251,1) 0%, rgba(124,153,192,1) 100%);
}

.tab_content_item_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tab_content_items{
    flex: 1;
    min-width: 230px;
}

.content_items_img{
    height: 260px;
}

.content_items_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content_items_body{
    padding: 15px;
}

.content_items_title, .content_items_desc{
    margin-bottom: 15px;
}