*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
    line-height: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 20px;
    max-width: 1160px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.body_bg{
    background: rgb(148,93,214);
    background: linear-gradient(180deg, rgba(148,93,214,1) 0%, rgba(214,228,255,1) 0%, rgba(150,187,255,1) 100%);
}

.body_bg .section_news_items, .body_bg .section_education_body{
    background-color: #fff;
}

section, footer{
    padding: 100px 0;
}

body a{
    color: #000;
}

.btn_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 999;
    border: 1px solid #4C529D;
    outline: none;
    background-color: #4C529D;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 0.3s;
    width: 50px;
    height: 50px;
  }
  .btn_top:hover {
    background-color: #656cce;
    color: #fff;
    transition: all ease 0.3s;
  }

/* 
=========================================================
=========================================================
INDEX.HTML
=========================================================
=========================================================

*/

/* 
=============================================================
HEADER
=============================================================
*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.burger {
    display: none; /* Скрыть бургер-меню по умолчанию */
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

.burger-icon {
    outline: none; /* Убираем стандартное выделение при нажатии */
}

.burger img {
    width: 25px;
    height: 25px;
    margin: 4px 0;
    filter: invert(1);
}

.header{
    background-color: #4C529D;
    border-bottom: 4px solid #7d81bb;
}

.header_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section_slider{
    padding-top: 50px;
}

.section_slider_title h1{
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.logo a{
    color: #fff;
    line-height: 20px;
    font-size: 16px;
}

.header .main_menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-weight: 700;
}

.header .main_menu ul a{
    display: block;
    color: #fff;
    padding: 20px 15px;
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
    transition: all ease .3s;
}

.header .main_menu ul a:hover{
    color: #d4d8ff;
    margin-bottom: -4px;
    border-bottom: 4px solid #fff;
}

.section_slider{
    background: rgb(76,82,144);
    background: linear-gradient(180deg, rgba(76,82,144,1) 0%, rgba(76,82,157,1) 0%, rgba(129,154,204,1) 100%);
}

.section_slider_wrap{
    height: 450px;
    width: 100%;
    margin-bottom: 20px;
}

.section_slider_wrap .slick-track, .section_slider_wrap .slick-list{
    height: 100%;
}

.section_slider_wrap .slick-list{
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
}

.section_slider_wrap img{
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_slider_body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_slider_body_item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
}

.slider_body_items_img {
    width: 46px;
    height: 46px;
}

/* 
=============================================================
SECTION ABOUT
=============================================================
*/

.section_about_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_about_header, .section_about_body{
    flex: 1;
}

.section_about_header_title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section_title, .section_desc{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_desc{
    font-size: 20px;
}

.section_about_body{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_about_body p{
    margin-bottom: 20px;
}

.header_body_img{
    width: 100%;
    display: flex;
}

.header_body_img:nth-child(2n){
    justify-content: end;
}

.header_body_img img{
    width: 300px;
    border-radius: 20px;
    display: block;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2); 
}

.section_about_header_body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.slider_about_header{
    display: none;
}

.life_tabs_container{
    overflow: hidden;
    display: flex;flex-direction: column;
}

.life_tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    background-color: #fff;
    transition: all ease .3s;
}

.tab-button:hover {
    background-color: #868cd4;
    color: #fff;
}

.tab-button.active {
    background-color: #4C529D;
    color: #fff;
}

.tab-content {
    padding: 20px 0;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.section_life{
    background: rgb(76,82,144);
    background: linear-gradient(130deg, rgba(76,82,144,1) 0%, rgba(238,242,251,1) 0%, rgba(124,153,192,1) 100%);
}

.tab_content_item_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tab_content_items{
    flex: 1;
    min-width: 230px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 360px;
}

.content_items_img{
    height: 260px;
    min-height: 260px;
}

.content_items_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.content_items_body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content_items_title, .content_items_desc{
    margin-bottom: 15px;
}

.content_items_desc{
    display: -webkit-box; 
    display: -moz-box; 
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
}

.content_items_title{
    font-size: 20px;
    font-weight: bold;
}

.content_items_date{
    margin-top: auto;
}

.content_items_btn{
    display: flex;
    color: #4C529D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content_items_data{
    font-size: 11px;
    color: #888888;
}

.section_life_btn_more{
    background: #4C529D;
    margin: 0 auto;
    width: max-content;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
}

.section_slider_rek_block{
    padding: 30px;
    background: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 27px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 27px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 27px 5px rgba(34, 60, 80, 0.2);
}

.section_slider_rek_wrap .slick-track{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.footer{
    background: #15183E;
    color: #fff;
}

.footer a{
    color: #fff;
}

.footer_wrap{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer_wrap_items{
    flex: 1;
    min-width: 250px;
}

.footer_wrap_items:first-child{
    flex: 2;
}

.footer_wrap_items_title, .footer_wrap_items ul li:first-child{
    font-size: 20px;
    margin-bottom: 15px;
}

.footer_wrap_items_desc{
    color: #b6b6b6;
}

.footer_wrap_items_desc p {
    margin-bottom: 15px;
}

.footer_wrap_items ul li{
    margin-bottom: 10px;
}

.footer_wrap_items ul li a{
    color: #b6b6b6;
    transition: all ease .3s;
}

.footer_wrap_items ul li a:hover{
    color: #fff;
}

.footer_wrap_items_maps{
    width: 100%;
    min-height: 300px;
}

.footer_wrap_items_maps iframe {
    width: inherit;
    min-height: inherit;
}

/* 
=========================================================
=========================================================
NEWS.HTML
=========================================================
=========================================================

*/
.section_news_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_news_items{
    padding: 25px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 30px 2px rgba(34, 60, 80, 0.2);
}

.section_news_items_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_news_items_title a {
    color: #656cce;
    text-decoration: underline;
}

.section_news_items_date{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #888888;
    margin-bottom: 10px;
}

.news_items_body_img{
    height: 535px;
}

.news_items_body_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_news_items_date img{
    width: 20px;
    height: 20px;
}

.news_items_body_desc{
    padding: 20px 0;
}

.news_items_body_desc p {
    margin-bottom: 20px;
}

.news_items_body_desc p:last-child{
    margin-bottom: 0;
}

.news_items_body_desc ol{
    padding-left: 30px;
}

/* 
=========================================================
=========================================================
ONLINE_INQUIRIES.HTML
=========================================================
=========================================================

*/

.form_inquiries_wrap form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_inquiries_wrap form input, .input_wrap input, .form_inquiries_wrap select, .form_inquiries_wrap textarea{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000;
}

.input_wrap{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input_wrap input{
    flex: 1;
}

.form_inquiries_wrap textarea{
    resize: vertical;
}

.btn_form{
    background: #4C529D;
    width: max-content;
    padding: 10px 20px !important;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: all ease .3s;
}

.btn_form:hover{
    background: #656cce;
}

/* 
=========================================================
=========================================================
TRAINING.HTML
=========================================================
=========================================================

*/

.section_training{
    background: -webkit-linear-gradient(180deg, rgb(76, 82, 157), rgb(127, 152, 202));
    background: -moz-linear-gradient(180deg, rgb(76, 82, 157), rgb(127, 152, 202));
    background: linear-gradient(180deg, rgb(76, 82, 157), rgb(127, 152, 202));
    color: #fff;
}

.section_training a{
    color: #fff;
}

.training_box{
    background: -webkit-linear-gradient(135deg, rgb(77, 64, 120), rgb(121, 111, 154));
    background: -moz-linear-gradient(135deg, rgb(77, 64, 120), rgb(121, 111, 154));
    background: linear-gradient(135deg, rgb(77, 64, 120), rgb(121, 111, 154));
    width: 100%;
    height: 500px;
    padding: 30px;
    border-radius: 30px;
}

.training_box_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.training_box_title_wrap{
    flex: 1;
}

.training_box_title_wrap p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.training_box_title_wrap ul{
    display: flex;
    flex-direction: column;
}

.training_box_title_wrap ul li{
    margin-bottom: 3px;
}

.training_box_title_wrap ul li:last-child{
    margin-bottom: 0;
}

.training_box_title_wrap ul li a{
    transition: all ease .3s;
}

.training_box_title_wrap ul li a:hover{
    color: #7d81bb;
    padding-left: 5px;
}

.training_box_linkPref{
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px 10px;
    width: max-content;
    position: relative;
}

.training_box_title_1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.training_box_title_2{
    font-size: 14px;
    font-weight: bold;
}

.training_box_desc{
    margin-bottom: 20px;
}

.training_box_linkPref::after{
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-image: url('../img/icons/chevron-back.svg'); 
    background-size: cover; 
    margin-right: 5px; 
    position: absolute;
    top: 4px;
    right: -30px;
}

.section_education_body_title{
    text-align: center;
    margin-bottom: 20px;
    color: #868cd4;
    font-size: 20px;
    font-weight: bold;
}

.section_education_body_list ul{
    display: flex;
    flex-direction: column;
}

.section_education_body{
    padding: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 43px 0px rgba(34, 60, 80, 0.2);
}

.section_education_body_list table {
    width: 100%;
    border-collapse: collapse;
}

.section_education_body_list table th, .section_education_body_list table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.section_education_body ul li a{
    text-decoration: underline;
}

.section_education_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section_education_body_list p{
    margin: 15px 0;
}

.section_education_body_list p:last-child{
    margin-bottom: 0;
}

.section_education_link{
    display: flex;
    gap: 3px;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.section_education_link a, .section_education_body_list ul li a{
    transition: all ease .3s;
}
.section_education_link a:hover, .section_education_body_list ul li a:hover{
    color: #868cd4;
}

.list_dot{
    list-style: disc;
    padding-left: 20px;
}

.education_desc, .education_title{
    text-align: center;
    margin: 15px 0;
}